<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mzdk.app">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 【必选】用以设置前台是否显示通知 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 百度定位 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MzdkApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".order.OrdersDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserUnpassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".home.university.UniversityPublicityActivity"
            android:label="娜拉大学"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AccountVerifyActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.CodePayResultActivity" />
        <activity android:name=".home.my.UserCodeActivity" />
        <activity
            android:name=".activity.NALAClassActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCouponActivity"
            android:label="我的优惠券"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.MemberCenterActivity"
            android:label="会员中心"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SampleApplyResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.serv.SampleApplyListActivity"
            android:label="样品申请"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SampleDetailActivity"
            android:label="样品详情"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SampleCenterActivity"
            android:label="样品中心"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.wechat.GoodsPackageDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsPromotionActivity"
            android:label="商品合集"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsTopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewGoodsActivity"
            android:label="新品首发"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="outside"
                    android:scheme="nala" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.PayResultActivity"
            android:label="@string/pay_result_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.OrderListActivity"
            android:label="@string/order_list_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthEnterpriseActivity"
            android:label="完善会员资料"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".home.my.serv.OrderTuikuanActivity"
            android:label="@string/order_tuikuan_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MobileLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activity.SmsLoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activity.PayPatternActivity"
            android:label="@string/pay_pattern"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".order.OrderConfirmActivity"
            android:label="@string/order_confirm_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.SettingsActivity"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisteredActivity"
            android:label="@string/registered_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:label="@string/modify_password_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.university.ShareUniversityActivity"
            android:label="邀请海报"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoPickActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/share_bottom_dialog_style" />
        <activity
            android:name=".activity.AddressAreaPickActivity"
            android:label="@string/address_pick_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArrayPickActivity"
            android:label="@string/please_pick"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.commodity.ReceiptListActivity"
            android:label="可开票订单"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.commodity.ReceiptHistoryActivity"
            android:label="开票记录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReceiptDetailActivity"
            android:label="开票订单明细"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApplyReceiptActivity"
            android:label="确认发票信息"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EnterpriseReceiptConfirmActivity"
            android:label="确认发票信息"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TuikuanApplyActivity"
            android:label="@string/apply_shouhou_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TuikuanDetailActivity"
            android:label="@string/shouhou_detail_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.serv.AddressListActivity"
            android:label="@string/address_list_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressEditActivity"
            android:label="@string/address_add_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".home.my.serv.BillListActivity"
            android:label="@string/bill_list_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.commodity.GoodCollectActivity"
            android:label="@string/collect_list_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrandDetailActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchListActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/search_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".home.my.MessageListActivity"
            android:label="我的消息"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.commodity.GoodHistoryActivity"
            android:label="@string/history_list_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReserveListActivity"
            android:label="订货订单"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.ReserveDetailActivity"
            android:label="订货单详情"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.OrderDetailActivity"
            android:label="@string/order_detail_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TuikuanReserveApplyActivity"
            android:label="@string/apply_shouhou_reserve_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.commodity.GoodArrivalRemindActivity"
            android:label="@string/arrival_remind_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InputBankNumberActivity"
            android:label="填写银行卡信息"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BankUserInfoActivity"
            android:label="填写个人信息"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ErpAddressSelectActivity"
            android:label="选择收货地址"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApplyAuthorizationActivity"
            android:label="申请授权证书"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.commodity.NoticeConfigureActivity"
            android:label="物流通知"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".order.OfflinePayResultActivity"
            android:label="线下打款支付结果"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.wechat.WalletActivity"
            android:label="我的钱包"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.wechat.MemberPayPatternActivity"
            android:label="选择支付方式"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeResultActivity"
            android:label="充值结果"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BalanceChangeActivity"
            android:label="余额变更明细"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoryDetailActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".activity.wechat.WxGoodsDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.wechat.WxLogisticsTrackActivity"
            android:label="物流跟踪"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoListActivity"
            android:label="全部内容"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MemberBuyActivity"
            android:label="购买NALA会员"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- LLYT SDK START -->
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- LLYT SDK END -->
        <!-- 微信支付界面 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/share_bottom_dialog_style" /> <!-- 第三方登录 end -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105140708" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VipBuyHistoryActivity"
            android:label="会员充值记录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuyVipResultActivity"
            android:label="购买NALA会员"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- umeng -->
        <activity
            android:name=".activity.UserMemberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.serv.UserCouponActivity"
            android:label="我的优惠券"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.my.qimokefu.MoorWebCenter"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.university.EssenceListActivity"
            android:label="群精华"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56c6d69e67e58e5c0c000a67" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="meizhuangdaka" />
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100568101" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="6609d93106bed84a4fbafa4434cd1a88" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="36da7fTiPytqbh3xarFyrdlY" />

        <provider
            android:name=".provider.MzdkContentProvider"
            android:authorities="com.mzdk.app"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="false" />

        <receiver android:name=".service.NotificationBroadcast" /> <!-- App Master Secret : banlrd7s0ooyzskuprloj3ixsdnu0l4r -->
        <service android:name="com.yintong.secure.service.PayService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.MyPushIntentService" />
        <service android:name=".service.UmengNotificationService" />
        <service android:name=".service.MyNotificationService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>